In [1]:
import numpy as np
import pandas as pd

In [2]:
# input
hotels = ['h1', 'h2','h3']
channels = ['c1', 'c2', 'c3']
distribution = [[1,1,3],[5,5,12],[3,3,20]]
total_rec = 1000

In [3]:
# normalized
np_hotels = np.arange(len(hotels))
np_channels = np.arange(len(channels))
np_dist = np.array(distribution)
normed_dist = np.round(np_dist / np_dist.sum(axis=0), 2)

normed_dist

array([[0.11, 0.11, 0.09],
       [0.56, 0.56, 0.34],
       [0.33, 0.33, 0.57]])

In [4]:
# real sample data count
count = (normed_dist * total_rec).astype(int)
count

array([[110, 110,  90],
       [560, 560, 340],
       [330, 330, 570]])

In [5]:
# generate sample data records
all_data = []
for r_index, row in enumerate(count):
    for c_index, cell in enumerate(row):
        data = np.tile(np.array([r_index, c_index]), (cell,1))
        all_data.append(data)

concated = np.vstack(all_data)
np.random.shuffle(concated)

records = [[hotels[record[0]], channels[record[1]]] for record in concated.tolist()]

# we can export records into csv
len(records)

3000

In [6]:
# test again
np_records = np.array(records)
df = pd.DataFrame.from_records(np_records, columns=['hotel','channel'])
df.groupby(['hotel', 'channel']).size().unstack()

channel   c1   c2   c3
hotel
h1       110  110   90
h2       560  560  340
h3       330  330  570